.nav-bar {
    background: none;
    box-shadow: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    margin-top: 10px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    width: 120px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
    margin: 0 12px;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    
}

.navbar-transparent .nav-links a {
    color: #fff; 
}

.nav-links {
margin: auto;
}

.nav-links :hover {
    color: #000;
}

.nav-links :after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links a:hover:after { 
    width: 100%; 
    left: 0; 
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color:transparent !important;
}

li img{
    height: 23px;
}

.nav-icon-section>a{
    margin: auto !important;
}

.nav-icon-section>a :hover {
    filter: invert(1)
}
.nav-ico svg {
    height: 24px;
    width: 24px;
    margin: auto;
  }
  
.nav-ico path {
fill: #fff;
}
